<div class="container-fluid" style="padding: 0px;">
    <div class="row schedule-image">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 text-center">

                    <div class="container-fluid">
                        <h2>Make an Appointment</h2>
                        <p>Fill out the form below to schedule an appointment, or feel free to walk into our studio anytime during operating hours.</p>
                        <form>
                            <div class="input-container">
                                <input type="text" class="form-control" ng-model="user.firstName" placeholder="First Name">
                                <input type="text" class="form-control" ng-model="user.lastName" placeholder="Last Name">
                                <input type="text" class="form-control" ng-model="user.phoneNumber" placeholder="Phone Number">
                                <input type="text" class="form-control" ng-model="user.emailAddress" placeholder="Email Address">
                                <input type="text" class="form-control" ng-model="user.appointmentDay">
                                <input type="time" class="form-control" ng-model="user.appointmentTime">
                            </div>
                            <button class="btn btn-info buttons" ng-click="clickedButton()">Check It Out</button>
                        </form>

                    </div>
                </div>
            </div>




        </div>
    </div>

</div>
