<!doctype html>
<html lang="en" ng-app="3dportraitApp">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3D Portraits</title>
</head>
<body>

<div class="container-fluid">
    <div class="topnav">
        <nav class="navbar-fixed-top navbar navbar-transparent navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand " href="#">3D Portrait Studios</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="#!/home">Home</a></li>
                        <li><a href="#!/product">Product</a></li>
                        <li><a href="#!/mini">Minis</a></li>
                        <!--<li><a href="#!/news">News</a></li>-->
                        <li><a href="#!/give">Giving Back</a></li>
                        <!--<li><a href="#!/contact">Contact</a></li>-->

                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-controller="authController">
                        <li ng-hide="isAuthenticated()"><a href="#!/login">Login</a></li>
                        <li ng-show="isAuthenticated()" ng-controller="logoutController"><a ng-click="signout()" class="clickable">Logout</a></li>
                        <li ng-hide="isAuthenticated()"><a href="#!/signup">Sign Up</a></li>
                        <!--<li class="clickable"><a data-toggle="modal" data-target="#getStarted">Set Appointment</a></li>-->
                        </ul>
                </div>
            </div>
        </nav>
    </div>
</div>


<ng-view></ng-view>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-6 col-xs-12 col-md-3 ModelWrapper">
                    <iframe width="100%" height="100%"
                            src="https://sketchfab.com/models/87388279c85c41ad82530e0b77f49794/embed" frameborder="0"
                            allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"
                            onmousewheel=""></iframe>
                </div>
                <div class="col-sm-6 col-xs-12 col-md-3 ModelWrapper">
                    <iframe width="100%" height="100%"
                            src="https://sketchfab.com/models/4a99e82320ba44229b87291e0da5366f/embed"
                            frameborder="0" allowvr allowfullscreen mozallowfullscreen="true"
                            webkitallowfullscreen="true" onmousewheel=""></iframe>
                </div>
                <div class="col-sm-6 col-xs-12 col-md-3 ModelWrapper">
                    <iframe width="100%" height="100%"
                            src="https://sketchfab.com/models/6cfa067d5fb44d22aecbe79e779a9cc1/embed"
                            frameborder="0" allowvr allowfullscreen mozallowfullscreen="true"
                            webkitallowfullscreen="true" onmousewheel=""></iframe>
                </div>
                <div class="col-sm-6 col-xs-12 col-md-3 ModelWrapper">
                    <iframe width="100%" height="100%"
                            src="https://sketchfab.com/models/9420309adec54b7ea394235a6d5b381c/embed"
                            frameborder="0" allowvr allowfullscreen mozallowfullscreen="true"
                            webkitallowfullscreen="true" onmousewheel=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row footer">
    <div class="col-md-6 col-xs-12 col-sm-12 text-center">
        <h3>Hear Our Story</h3>
        <p style="margin-top: 10px;">Follow us on social media, or subscribe to our newsletter to stay up to date on
            the latest cutting edge technology.</p>

        <div class="text-center">
            <a href="https://www.facebook.com/The3DPS/" target="_blank"><img src="app/images/facebook.png"
                                                                             class="socialMediaIcons clickable"></a>
            <a href="https://twitter.com/The3DPS?lang=en" target="_blank"><img src="app/images/twitter.png"
                                                                               class="socialMediaIcons clickable"></a>
            <a href="https://www.instagram.com/the3dps/" target="_blank"><img src="app/images/instagram.png"
                                                                              class="socialMediaIcons clickable"></a>
            <a href="https://www.pinterest.com/the3dportrait/" target="_blank"><img src="app/images/pinterest.png"
                                                                                    class="socialMediaIcons clickable"></a>
            <br>
            <!--<input type="email" class="form-control newletterSignup" placeholder="Email"-->
            <!--style="width: 300px; display: inline-block;">-->
            <!--<button class="btn btn-info button-general" style="display: inline-block;">Subscribe</button>-->
        </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6 text-center-xs text-center-sm">
        <h3>Ready for yours?</h3>
        <p style="margin-top: 10px;">We work to make the process as simple as possible.</p>
        <p>Come in, get scanned, and get your portrait in the mail within a week.</p>
        <p style="margin-top: 10px;">Don't believe us? Try it out.</p>
        <!--<button class="btn btn-info button-general two" id="getStartedBtn" data-toggle="modal" data-target="#getStarted">Get Started</button>-->


    </div>
    <div class="col-md-3 col-xs-12 col-sm-6 text-center-xs text-center-sm">
        <h3>Contact Us</h3>
        <p>1160 State Street Suite 170 A</p>
        <p>Orem, UT 84097</p>
        <p>Email: info@the3dps.com</p>
        <p>Phone: 385-645-3377</p>
        <a data-toggle="modal" data-target="#mapsModal">
            <button class="btn btn-info button-general" id="viewMap">View Map</button>
        </a>
    </div>
</div>
<div class="row" style="margin-left: 0px; margin-right: 0px;">
    <div class="col-xs-12 text-center" style="color: grey; background-color: #212121; height: 50px;">
        <p style="margin-top: 15px;">3D Portrait Studios</p>
    </div>
</div>
</div>

<script src="newinstafeed.js"></script>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
<script src="./bower_components/backand-vanilla-sdk/dist/backand.js"></script>
<script src="./bower_components/backand-angular1-sdk/dist/backand.provider.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.js"></script>

<!--PAGES-->
<script src="app.js"></script>
<script src="app/home/home.js"></script>
<script src="app/contact/contact.js"></script>
<script src="app/news/news.js"></script>
<script src="app/product/product.js"></script>
<script src="app/give/give.js"></script>
<script src="app/schedule/schedule.js"></script>
<script src="app/mini/mini.js"></script>
<script src="app/user-auth/log-in/login.js"></script>
<script src="app/user-auth/log-out/logout.js"></script>
<script src="app/user-auth/sign-in/signup.js"></script>


<!--SERVICES-->
<script src="common/services/user-service.js"></script>
<script src="common/services/object-service.js"></script>


</body>
</html>

<div class="modal fade" id="getStarted" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content text-center">
            <!--MODAL HEADER-->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal"
                        ng-click="toggleEdit = false">&times;</button>
                <h2 class="modal-title" style="color: black;">Make An Appointment</h2>
            </div>
            <!--MODAL BODY-->
            <div class="modal-body">

                <p>Fill out the form below to schedule an appointment, or feel free to walk into our studio anytime
                    during operating hours.</p>
                <form>
                    <div class="input-container">
                        <input type="text" class="form-control" ng-model="user.firstName" placeholder="First Name">
                        <input type="text" class="form-control" ng-model="user.lastName"
                               placeholder="Last Name"><br><input type="text" class="form-control"
                                                                  ng-model="user.phoneNumber"
                                                                  placeholder="Phone Number">
                        <input type="text" class="form-control" ng-model="user.emailAddress"
                               placeholder="Email Address"><br><input type="date" class="form-control"
                                                                      ng-model="user.appointmentDay">
                        <input type="time" class="form-control" ng-model="user.appointmentTime">
                    </div>
                </form>
                <br>
                <p>You will receive a confirmation email once you submit for an appointment.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info"
                        data-dismiss="modal" ng-click="appointmentSubmittal()"> Submit
                </button>
                <button class="btn btn-danger"
                        data-dismiss="modal"> Close
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mapsModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--MODAL HEADER-->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal"
                        ng-click="toggleEdit = false">&times;</button>
                <h2 class="modal-title" style="color: black;">3D Portrait Studios</h2>
            </div>
            <!--MODAL BODY-->
            <div class="modal-body">
                <iframe
                        width="100%"
                        height="500px"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDtb6KOpO8dpsXtbAvJS1v0EjdDwapuBNc
    &q=40.275990,-111.686630" allowfullscreen>
                </iframe>

                <!--<video id="video" class="video" style="width:100%; height:100%; overflow:hidden;">-->
                <!--<source src="https://s3.amazonaws.com/www.nuvi.com-media/nuvi-intro-2015.mp4" type="video/mp4">-->
                <!--</video>-->
            </div>
            <!--<div class="modal-footer">-->
            <!--<button class="btn btn-danger"-->
            <!--data-dismiss="modal"> Close-->
            <!--</button>-->

            <!--</div>-->
        </div>
    </div>
</div>

