@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,800");
body {
  font-family: 'Raleway', sans-serif;
  background-color: #FFFFFF; }

/*GENERAL*/
.input-container input {
  display: inline-block;
  width: 300px;
  margin: 5px 5px 5px 5px; }

.offPageSecond {
  background-color: #F3FBFF; }

.offPageThird {
  background-image: url("app/images/background-1.png");
  background-color: dimgray;
  background-position: center;
  background-size: cover;
  color: lightgrey;
  background-color: grey;
  overflow: auto;
  z-index: -9999;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply; }

.offPageThird p {
  color: lightgrey; }

.sketchfab-embed-wrapper {
  position: relative;
  top: 15px;
  display: inline-block;
  margin: 0 10px 0 10px; }

.clickable {
  cursor: pointer; }

#googleMap {
  position: relative;
  top: 25px;
  right: 25px; }

.ModelWrapper {
  background-color: #157f90;
  color: lightgrey;
  height: 250px;
  padding: 15px 15px 15px 15px; }
  .ModelWrapper h1 {
    color: lightgrey; }
  .ModelWrapper button {
    position: relative;
    left: 209px;
    bottom: 25px; }

.two {
  position: relative;
  top: 10px; }

.socialMediaIcons {
  height: 50px;
  margin: 0px 15px 20px 15px; }

.button-general {
  background-color: transparent;
  border-color: white; }

.main-buttons {
  position: relative;
  top: 250px;
  margin: 0px 25px 50px 25px;
  background-color: transparent;
  border-color: white;
  /*-webkit-transition: all .10s ease-in-out;*/
  /*-moz-transition: all .10s ease-in-out;*/
  /*-ms-transition: all .10s ease-in-out;*/
  /*-o-transition: all .10s ease-in-out;*/
  /*transition: all .10 ease-in-out;*/ }

/*.two {*/
/*background-color: transparent;*/
/*border-color: white;*/
/*}*/
/*NAVBAR*/
.navbar {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

.navbar-transparent {
  background-color: transparent;
  border: 0px; }

.navbar-transparent .navbar-nav > li > a {
  color: white; }

.navbar-transparent .navbar-nav > li > a:hover {
  color: #31B0D5; }

.navbar-transparent .navbar-nav > li > a:focus {
  color: #83D4EB; }

.navbar-transparent .navbar-brand {
  color: white; }

.navbar-transparent .navbar-brand:hover {
  color: white; }

.navbar-transparent .navbar-brand:focus {
  color: white; }

/*HOME*/
.home-image {
  height: 100vh;
  background-image: url("app/images/melanie-villeneuve-39759(2).jpg");
  background-position: top;
  background-size: cover;
  color: #000;
  text-shadow: 1px 1px 0 #fff;
  background-color: grey;
  overflow: auto;
  z-index: -9999;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply; }

.home-image p {
  position: relative;
  color: white;
  font-size: 5em;
  top: 150px; }

.doingsDescription {
  width: 100%;
  height: 200px; }
  .doingsDescription .descriptionTitle {
    color: #31B0D5;
    font-size: 1.5em;
    position: relative;
    top: 120px; }
  .doingsDescription p {
    color: lightgrey;
    position: relative;
    top: 55px; }
  .doingsDescription .descriptionIcon {
    height: 75px;
    width: 75px; }

.doingsDescriptionBackground {
  background-color: #38383A;
  margin-left: 0px;
  margin-right: 0px; }

.footer {
  height: 250px;
  color: lightgrey;
  background-color: #38383A;
  margin-left: 0px;
  margin-right: 0px; }

/*PRODUCT*/
.macbook-row {
  overflow: hidden; }
  .macbook-row p {
    position: relative;
    top: 150px;
    margin-left: 15px; }
  .macbook-row img {
    margin-top: 50px;
    margin-bottom: 50px; }

.checkPrices input {
  width: 300px;
  margin: auto;
  margin-top: 45px; }
.checkPrices select {
  display: block;
  margin: auto; }
.checkPrices button {
  display: block;
  margin: auto; }

.product-image {
  height: 50vh;
  background-image: url("app/images/full_color_Sandstone_tutorial_featured.jpeg");
  background-position: center;
  background-size: cover;
  color: #000;
  text-shadow: 1px 1px 0 #fff;
  background-color: grey;
  overflow: auto;
  z-index: -9999;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply; }

.product-image .container {
  width: 330px;
  position: relative;
  top: 100px; }

.product-image p {
  color: white;
  font-size: 3em; }

#instafeed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  #instafeed a {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    flex-basis: calc(100%/8);
    flex-grow: 1;
    line-height: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    border: 10px solid transparent;
    margin: 20px 0px 20px 0px; }
  #instafeed img {
    width: 100%; }

.give-image {
  height: 100vh;
  background-image: url("app/images/give.jpg");
  background-position: center;
  background-size: cover;
  color: #000;
  background-color: grey;
  overflow: auto;
  z-index: -9999;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply; }
  .give-image .big {
    color: white;
    font-size: 3em;
    position: relative;
    top: 150px; }
  .give-image p {
    color: white;
    font-size: 1em;
    position: relative;
    top: 150px; }

.contact-image {
  height: 50vh;
  background-image: url("app/images/3dps.png");
  background-position: center;
  background-size: cover;
  color: #000;
  text-shadow: 1px 1px 0 #fff;
  background-color: grey;
  overflow: auto;
  z-index: -9999;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply; }
  .contact-image p {
    color: white;
    font-size: 2em;
    position: relative;
    top: 50px; }

.contactUsMap {
  background-color: #38383A;
  color: lightgrey; }

.schedule-image {
  height: 100vh;
  background-image: url("app/images/3dps.png");
  background-position: center;
  background-size: cover;
  color: #000;
  text-shadow: 1px 1px 0 #fff;
  background-color: grey;
  overflow: auto;
  z-index: -9999;
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: multiply; }
  .schedule-image h2 {
    position: relative;
    top: 50px;
    color: white; }
  .schedule-image p {
    color: white;
    position: relative;
    top: 50px; }
  .schedule-image form {
    position: relative;
    top: 200px; }

.buttons {
  background-color: transparent;
  border-color: white; }

/*# sourceMappingURL=stylesheet.css.map */
