@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,800');

body {
  font-family: 'Raleway', sans-serif;
  background-color: #FFFFFF;
}


/*//////////////////////////////////////// */

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
  text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
  text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
  text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
  text-align: justify;
}

@media (max-width: 767px) {
  .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
    text-align: inherit;
  }
  .text-left-xs {
    text-align: left;
  }
  .text-center-xs {
    text-align: center;
  }
  .text-right-xs {
    text-align: right;
  }
  .text-justify-xs {
    text-align: justify;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
    text-align: inherit;
  }
  .text-left-sm {
    text-align: left;
  }
  .text-center-sm {
    text-align: center;
  }
  .text-right-sm {
    text-align: right;
  }
  .text-justify-sm {
    text-align: justify;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
    text-align: inherit;
  }
  .text-left-md {
    text-align: left;
  }
  .text-center-md {
    text-align: center;
  }
  .text-right-md {
    text-align: right;
  }
  .text-justify-md {
    text-align: justify;
  }
}
@media (min-width: 1200px) {
  .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
    text-align: inherit;
  }
  .text-left-lg {
    text-align: left;
  }
  .text-center-lg {
    text-align: center;
  }
  .text-right-lg {
    text-align: right;
  }
  .text-justify-lg {
    text-align: justify;
  }
}

/*//////////////////////////////////////// */


/*GENERAL*/

.input-container {
  input {
    display: inline-block;
    width: 300px;
    margin: 5px 5px 5px 5px;
  }
}

.offPageSecond {
  background-color: #F3FBFF;
}

.offPageThird {
    //height: 100vh;
    //background-image: url('app/images/background-1.png');
    background-color: #38383A;
    background-position: center;
    background-size: cover;
    color: lightgrey;
    //text-shadow: 1px 1px 0 #fff;

    background-color: grey;
    overflow: auto;
    z-index: -9999;
    background-color: rgba(0,0,0,.8);
    background-blend-mode: multiply;
  }

  .offPageThird p {
    //position: relative;
    color: lightgrey;
    //font-size: 5em;
    //top: 150px;
  }


.sketchfab-embed-wrapper {
  position: relative;
  top: 15px;
  display: inline-block;
  margin: 0 10px 0 10px;
}

.clickable {
  cursor: pointer;
}

#googleMap {
  position: relative;
  top: 25px;
  right: 25px;
}

.ModelWrapper {
  background-color: #157f90;
  color: lightgrey;
  height: 250px;
  padding: 15px 15px 15px 15px ;

  h1 {
    color: lightgrey;
  }


button {
  position: relative;
  left: 209px;
  bottom: 25px;
}

}

.two{
  position: relative;
  top: 10px;
}

.socialMediaIcons {
  height: 50px;
  margin: 0px 15px 20px 15px;
}

.button-general {
  background-color: transparent;
  border-color: white;
}

.main-buttons {
  position: relative;
  top: 250px;
  margin: 0px 25px 50px 25px;
  background-color: transparent;
  border-color: white;
  /*-webkit-transition: all .10s ease-in-out;*/
  /*-moz-transition: all .10s ease-in-out;*/
  /*-ms-transition: all .10s ease-in-out;*/
  /*-o-transition: all .10s ease-in-out;*/
  /*transition: all .10 ease-in-out;*/
}

/*.two {*/
/*background-color: transparent;*/
/*border-color: white;*/

/*}*/

/*NAVBAR*/

.navbar {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;

}

.navbar-transparent {
  background-color: transparent;
  border: 0px;
}

.navbar-transparent .navbar-nav>li>a {
  color: white;
}

.navbar-transparent .navbar-nav>li>a:hover {
  color: #31B0D5;
}
.navbar-transparent .navbar-nav>li>a:focus {
  color: #83D4EB
}

.navbar-transparent .navbar-brand {
  color: white;
}

.navbar-transparent .navbar-brand:hover {
  color: white;
}
.navbar-transparent .navbar-brand:focus {
  color: white;
}


/*HOME*/

.home-image {
  height: 100vh;
  background-image: url('app/images/melanie-villeneuve-39759(2).jpg');
  background-position: top;
  background-size: cover;
  color: #000;
  text-shadow: 1px 1px 0 #fff;

  background-color: grey;
  overflow: auto;
  z-index: -9999;
  background-color: rgba(0,0,0,.5);
  background-blend-mode: multiply;
}

.home-image p {
  position: relative;
  color: white;
  font-size: 3em;
  top: 150px;
}

.doingsDescription {
  width: 100%;
  height: 200px;

  .descriptionTitle {
    color: #31B0D5;
    font-size: 1.5em;
    position: relative;
    top: 120px;
  }
  p {
    color: lightgrey;
    position: relative;
    top: 55px;
  }
  .descriptionIcon {
    height: 75px;
    width: 75px;
  }
}

.doingsDescriptionBackground {
  background-color: #38383A;
  margin-left: 0px;
  margin-right: 0px;
}

.footer {
  color: lightgrey;
  background-color: #38383A;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 15px;
}

/*PRODUCT*/

.height-container {
  margin: auto;
}

.macbook-row {
  overflow: hidden;

  p {
    position: relative;
    margin-left: 15px;
  }
  img {
    margin-top: 50px;
    margin-bottom: 50px;
  }

}

.checkPrices {
  input {
    width: 300px;
    margin: auto;
  }
  select {
    display: block;
    margin: auto;
  }
  button {
    display: block;
    margin: auto;
  }
}

.product-image {
  height: 50vh;
  background-image: url('app/images/full_color_Sandstone_tutorial_featured.jpeg');
  background-position: center;
  background-size: cover;
  color: #000;
  text-shadow: 1px 1px 0 #fff;

  background-color: grey;
  overflow: auto;
  z-index: -9999;
  background-color: rgba(0,0,0,.5);
  background-blend-mode: multiply;
}

.product-image .container {
  width: 330px;
  position: relative;
  top: 100px;

}

.product-image p {
  color: white;
  font-size: 3em;
}

#instafeed {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  a {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    flex-basis: calc(100%/8);
    flex-grow: 1;
    line-height: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    border: 10px solid transparent;
    margin: 20px 0px 20px 0px;
  }
  img {
    width: 100%
  }
}

//GIVE

.give-image {
  height: 100vh;
  background-image: url('app/images/give.jpg');
  background-position: center;
  background-size: cover;
  color: #000;
  //text-shadow: 1px 1px 0 #fff;

  background-color: grey;
  overflow: auto;
  z-index: -9999;
  background-color: rgba(0,0,0,.5);
  background-blend-mode: multiply;

  .big {
    color: white;
    font-size: 3em;
    position: relative;
    top: 150px;
  }
  p {
    color: white;
    font-size: 1em;
    position: relative;
    top: 150px;
  }
}

 //CONTACT

.contact-image {
  height: 50vh;
  background-image: url('app/images/3dps.png');
  background-position: center;
  background-size: cover;
  color: #000;
  text-shadow: 1px 1px 0 #fff;

  background-color: grey;
  overflow: auto;
  z-index: -9999;
  background-color: rgba(0,0,0,.5);
  background-blend-mode: multiply;

  p {
    color: white;
    font-size: 2em;
    position: relative;
    top: 50px;
  }
}

.contactUsMap {
  background-color: #38383A;
  color: lightgrey;
}

//SCHEDULE

.schedule-image {
  height: 100vh;
  background-image: url('app/images/3dps.png');
  background-position: center;
  background-size: cover;
  color: #000;
  text-shadow: 1px 1px 0 #fff;

  background-color: grey;
  overflow: auto;
  z-index: -9999;
  background-color: rgba(0,0,0,.9);
  background-blend-mode: multiply;

  h2 {
    position: relative;
    top: 50px;
    color: white;
  }
  p {
    color: white;
    position: relative;
    top: 50px;
  }
  form {
    position: relative;
    top: 200px;
  }
}

.buttons {
  background-color: transparent;
  border-color: white;
}

//MINI

.mini-image {
  height: 50vh;
  background-image: url('app/images/IMG_9844.JPG');
  background-position: center;
  background-size: cover;
  color: #000;
  text-shadow: 1px 1px 0 #fff;

  background-color: grey;
  overflow: auto;
  z-index: -9999;
  background-color: rgba(0,0,0,.5);
  background-blend-mode: multiply;
}

.mini-image .container {
  //width: 330px;
  position: relative;
  top: 150px;

}

.mini-image p {
  color: white;
  font-size: 3em;
}

//AUTH PAGES

.authPages {
  height: 100vh;
  background-image: url('app/images/spaceman.jpg');
  background-position: center;
  background-size: cover;
  color: #000;
  //text-shadow: 1px 1px 0 #fff;

  background-color: grey;
  overflow: auto;
  z-index: -9999;
  background-color: rgba(0,0,0,.5);
  background-blend-mode: multiply;

}

.signupForm {
  .labels {
    color: white;
  }
  .requiredStar {
    color: red;
  }
}

.account-image {
  height: 50vh;
  background-image: url('app/images/spaceman.jpg');
  background-position: center;
  background-size: cover;
  color: #000;
  text-shadow: 1px 1px 0 #fff;

  background-color: grey;
  overflow: auto;
  z-index: -9999;
  background-color: rgba(0,0,0,.5);
  background-blend-mode: multiply;
}



//.input-container {
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: space-between;
//  align-items: center;
//
//  input {
//    -moz-box-flex: 1;
//    -webkit-box-flex: 1;
//    flex-basis: calc(100%/2);
//    flex-grow: 1;
//    border: 10px solid transparent;
//    margin: 10px 0px 10px 0px;
//  }
//}

