<div class="container-fluid" style="padding: 0px;">
    <div class="row home-image " style="margin: 0px;">
        <div class="col-xs-12">
            <div class="text-center">
                <p>When photographs aren't enough..</p>
                <!--<button class="btn btn-info main-buttons two" data-toggle="modal" data-target="#introVideoModal">Intro-->
                    <!--to 3D Portraits-->
                <!--</button>-->
                <button class="btn btn-info main-buttons one" id="scrollOneButton" ng-click="whatWeDo()">What We Do</button>
            </div>
        </div>
    </div>
        <!--<div class="row" style="margin: 0px;">-->
            <div class="row doingsDescriptionBackground" id="scrollOne">
                <div class="col-md-3 col-xs-12 col-sm-6 text-center">
                    <div class="doingsDescription">
                        <div class="descriptionTitle">Get Scanned</div>
                        <img class="descriptionIcon" src="app/images/person-icon.png">
                        <p>Find one of our stores, and step into our scanner</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 text-center">
                    <div class="doingsDescription">
                        <div class="descriptionTitle">View 3D Model</div>
                        <img class="descriptionIcon" src="app/images/computer.png">
                        <p>We will touch up your 3D Model in preparation to print</p>

                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 text-center">
                    <div class="doingsDescription">
                        <div class="descriptionTitle">Choose a Mini Size</div>
                        <img class="descriptionIcon" src="app/images/find.png">
                        <p>We will print your 3D model in whatever size you want</p>

                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 text-center">
                    <div class="doingsDescription">
                        <div class="descriptionTitle">Get Your Mini</div>
                        <img class="descriptionIcon" src="app/images/box.png">
                        <p>Your 3D mini will be mailed to you</p>

                    </div>
                </div>
            </div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="col-md-3 col-md-offset-1 col-xs-12 text-center" style="margin-top: 100px;">
                    <!--<p style="font-size: 3em;">Innovative Technology</p>-->
                    <!--<br>-->
                    <p style="font-size: 2em;">We've developed our own 3D scanning technology</p>
                    <br>
                    <p style="color: grey;">After years of studying photogrammetry and designing a photo booth that produces the best quality 3D scans available, we have opened our doors to the public.
                    </p><p style="color: grey;">Welcome to the 3D portrait studios, and welcome to the future of photography.</p>
                    <a href="#!/product" style="text-decoration: none;"><button class="btn btn-info" style="margin-bottom: 15px;">View Minis</button></a>
                </div>
                <div class="col-md-8 col-xs-12">
                    <img src="app/images/SCANNERPICTUREONE.png" class="img-responsive center-block" style="margin-bottom: 25px;">
                </div>
            </div>

        <!--</div>-->
</div>

<div class="modal fade" id="introVideoModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--MODAL HEADER-->
            <!--<div class="modal-header">-->
            <!--<button type="button" class="close"-->
            <!--data-dismiss="modal"-->
            <!--ng-click="toggleEdit = false">&times;</button>-->
            <!--<h2 class="modal-title" style="color: black;">3D Portraits</h2>-->
            <!--</div>-->
            <!--MODAL BODY-->
            <div class="modal-body">
                <iframe width="868" height="488"
                        src="https://www.youtube.com/embed/VzAwdBZ3KCQ?rel=0&amp;controls=0&amp;showinfo=0"
                        frameborder="0" allowfullscreen id="mainVid"></iframe>
                <!--<video id="video" class="video" style="width:100%; height:100%; overflow:hidden;">-->
                    <!--<source src="https://s3.amazonaws.com/www.nuvi.com-media/nuvi-intro-2015.mp4" type="video/mp4">-->
                <!--</video>-->
            </div>
            <!--<div class="modal-footer">-->
            <!--<button class="btn btn-danger"-->
            <!--data-dismiss="modal"> Close-->
            <!--</button>-->

            <!--</div>-->
        </div>
    </div>
</div>
