<div class="container-fluid" style="padding: 0px;">
    <div class="row home-image " style="margin: 0px;">
        <div class="col-xs-12">
            <div class="text-center">
                <p>When pictures aren't enough..</p>
                <!--<button class="btn btn-info main-buttons two" data-toggle="modal" data-target="#introVideoModal">Intro-->
                    <!--to 3D Portraits-->
                <!--</button>-->
                <button class="btn btn-info main-buttons one" id="scrollOneButton" ng-click="whatWeDo()">What We Do</button>
            </div>
        </div>
    </div>
        <div class="row" style="margin: 0px;">
            <div class="row doingsDescriptionBackground" id="scrollOne">
                <div class="col-xs-3 text-center">
                    <div class="doingsDescription">
                        <div class="descriptionTitle">Get Scanned</div>
                        <img class="descriptionIcon" src="app/images/person-icon.png">
                        <p>Find one of our stores, and step into our scanner</p>
                    </div>
                </div>
                <div class="col-xs-3 text-center">
                    <div class="doingsDescription">
                        <div class="descriptionTitle">View 3D Model</div>
                        <img class="descriptionIcon" src="app/images/computer.png">
                        <p>A 3D model of your scan will be sent to you</p>

                    </div>
                </div>
                <div class="col-xs-3 text-center">
                    <div class="doingsDescription">
                        <div class="descriptionTitle">Choose a Portrait</div>
                        <img class="descriptionIcon" src="app/images/find.png">
                        <p>Choose the size you would like your scan to be printed in</p>

                    </div>
                </div>
                <div class="col-xs-3 text-center">
                    <div class="doingsDescription">
                        <div class="descriptionTitle">Get Your Portrait</div>
                        <img class="descriptionIcon" src="app/images/box.png">
                        <p>Your 3D portrait will be mailed to you</p>

                    </div>
                </div>
            </div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="col-xs-3 col-xs-offset-1 text-center" style="position: relative; top: 100px;">
                    <!--<p style="font-size: 3em;">Innovative Technology</p>-->
                    <!--<br>-->
                    <p style="font-size: 3em;">We've developed our own 3D scanning technology.</p>
                    <br>
                    <p style="color: grey;">Come take a look at our first generation scanner. We might even show you what we have for generation two.</p>
                </div>
                <div class="col-xs-8">
                    <img src="app/images/SCANNERPICTUREONE.png" class="img-responsive center-block">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="introVideoModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--MODAL HEADER-->
            <!--<div class="modal-header">-->
            <!--<button type="button" class="close"-->
            <!--data-dismiss="modal"-->
            <!--ng-click="toggleEdit = false">&times;</button>-->
            <!--<h2 class="modal-title" style="color: black;">3D Portraits</h2>-->
            <!--</div>-->
            <!--MODAL BODY-->
            <div class="modal-body">
                <iframe width="868" height="488"
                        src="https://www.youtube.com/embed/VzAwdBZ3KCQ?rel=0&amp;controls=0&amp;showinfo=0"
                        frameborder="0" allowfullscreen id="mainVid"></iframe>
                <!--<video id="video" class="video" style="width:100%; height:100%; overflow:hidden;">-->
                    <!--<source src="https://s3.amazonaws.com/www.nuvi.com-media/nuvi-intro-2015.mp4" type="video/mp4">-->
                <!--</video>-->
            </div>
            <!--<div class="modal-footer">-->
            <!--<button class="btn btn-danger"-->
            <!--data-dismiss="modal"> Close-->
            <!--</button>-->

            <!--</div>-->
        </div>
    </div>
</div>