@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,800');

body {
    font-family: 'Raleway', sans-serif;
}

/*NAVBAR*/

.navbar-transparent {
    background-color: transparent;
    border: 0px;
}

.navbar-transparent .navbar-nav>li>a {
    color: white;
}

.navbar-transparent .navbar-brand {
    color: white;
}


/*HOME*/

.home-image {
    height: 100vh;
    background-image: url('images/melanie-villeneuve-39759.jpg');
    background-position: top;
    background-size: cover;
    color: #000;
    text-shadow: 1px 1px 0 #fff;

    background-color: grey;
    overflow: auto;
    z-index: -9999;
    background-color: rgba(0,0,0,.5);
    background-blend-mode: multiply;
}

.home-image p {
    position: relative;
    color: white;
    font-size: 5em;
    top: 150px;
}